.css-1nxmd3h-MuiListItem-root{
    flex-direction: column;
}
/* 
.css-cvhtoe-MuiButtonBase-root-MuiListItemButton-root{
    width: 100px;
} */

.css-cvhtoe-MuiButtonBase-root-MuiListItemButton-root{
    position: relative;
    width: 100%;
}

.css-dfnfb7-MuiPaper-root-MuiCard-root{
    margin-right: auto;
    margin-left: auto;
}

.map{
    position:relative;
    width:60%;
    height:100%;
}
 

  body {
    margin: 0;
    padding: 0;
    }
    #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    }
    .mapboxgl-popup {
    max-width: 200px;
    }
    .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    }

#marker {
background-image: url('https://docs.mapbox.com/mapbox-gl-js/assets/washington-monument.jpg');
background-size: cover;
width: 50px;
height: 50px;
border-radius: 50%;
cursor: pointer;
}
 
.mapboxgl-popup {
max-width: 200px;
}