.inputFields{
    display: grid;
    /* width: 50%; */
    margin: auto;
    height: 250px;
    align-items: center;
}
.signInBtn{
    margin: 30px;
}
.resettingPassword{
    margin-bottom: 50px;
    margin-left: 20px;
}
.continueBtn{
    display: flex;
    margin-bottom:10%;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

#emailSignInBtn{
    display: flex;
    height: 50px;
}

#emailSignInBtn>span{
    margin-right:auto;

}